@model Category

<form method="post">
    <div class="mt-4 border p-3">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
        </div>
       
        <div class="mb-3">
            <label asp-for="Name">Name</label>  @*if we remove Name which is between label tag. nothing will change*@
            <input asp-for="Name" disabled class="form-control" />
           
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>  @*if we remove Name which is between label tag. nothing will change*@
            <input asp-for="DisplayOrder" disabled class="form-control" />
           
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
